body{
    font-family: 'sans-serif, helvetica, arial';
    max-width: 297mm;
    padding:10mm;
}
h1{
    font-family: 'sans-serif';
}
div.grafico{
    border:1px solid black;
    margin:30px 0px;
    display: inline-block;
}